/* MAIN WRAPPER */
main *{
	box-sizing:border-box ;
}
.search-page {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

/* HERO */
.hero {
    max-width: 680px;
    width: 100%;
    text-align: center;
}

.hero h1 {
    font-size: 32px;
    font-weight: 700;
}

.hero p {
    opacity: 0.75;
    margin-bottom: 30px;
}

/* SEARCH BOX */
.search-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.search-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.search-svg {
    width: 22px;
    height: 22px;
    opacity: 0.8;
}

.search-input {
    width: 100%;
    padding: 14px 20px 14px 50px;
    border: 2px solid #0060ff;
    border-radius: 15px;
    font-size: 16px;
    outline: none;
    transition: 0.2s;
}

.search-input:focus {
    border-color: #004bcc;
}

/* SUGGESTION BOX */
.suggestion-box {
    list-style: none;
    margin-top: 8px;
    border: 1px solid #dcdcdc;
    border-radius: 12px;
    background: #fff;
    display: none;
    overflow: hidden;
    text-align: left;
}

.suggestion-box li {
    padding: 12px 18px;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
}

.suggestion-box li:last-child {
    border-bottom: none;
}

.suggestion-box li:hover {
    background: #eef4ff;
}

/* RECENT SEARCHES */
.recent-section {
    margin-top: 40px;
    text-align: left;
}

.recent-section h3 {
    font-size: 18px;
    margin-bottom: 12px;
}

.recent-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tag {
    padding: 8px 14px;
    background: #eef3ff;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
	color: #262626;
}

.tag:hover {
    background: #dbe6ff;
}
